
@layer payload-default {
  .document-fields {
    &__sidebar-wrap {
      max-width: 400px;
      border-left: 1px solid var(--theme-elevation-100);
    }

    &__sidebar {
      padding: 0;
    }

    &__sidebar-fields {
      width: 100%;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    &__tabs-wrapper {
      margin-bottom: calc(var(--base) * 1);
    }

    &__empty-state {
      color: var(--theme-elevation-500);
      font-size: var(--font-body-size-s);
      padding: calc(var(--base) * 1) 0;
    }
  }
}
